ion-content {
  --padding-top: 70%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url("../../assets/d00b7eee80f1.jpeg") 0 0/100% 100% no-repeat;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background-color: var(--ion-color-warning-shade);
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
